name: CI

on:
  push:
    branches: [main, develop, 'feature/**', 'hotfix/**', 'release/**']
  pull_request:
    branches: [main, develop]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@34e11487 # v4
      - uses: actions/setup-node@49933ea5 # v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npm run lint

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@34e11487 # v4
      - uses: actions/setup-node@49933ea5 # v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npx jest --testPathPattern='__tests__/unit' --coverage
      - name: Upload coverage
        if: always()
        uses: actions/upload-artifact@ea165f8d # v4
        with:
          name: unit-coverage
          path: coverage/

  integration-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e11487 # v4
      - uses: actions/setup-node@49933ea5 # v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npx jest --testPathPattern='__tests__/integration'
